body {
	padding: 54px 52px;
}

header {
	margin-bottom: 50px;
}

a {
	font-size: 26px;
	color: #8D81FF;
}

.logo {
	vertical-align: middle;
	margin-right: 60px;
}

nav {
	display: inline-block;
	vertical-align: middle;
}

li {
	width: 150px;
	height: 34px;
	font-weight: 700;
	font-size: 26px;
	line-height: 31px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 80px;
}

.my26 {
	width: 50px;
	height: 50px;
	background-color: #5012D5;
	font-size: 24px;
	line-height: 28px;
	color: #84FF81;
	padding: 10px;
}

.code {
	vertical-align: top;
	margin-top: 13px;
	margin-right: 66px ;
}

.textdiv {
	width: 778px;
	display: inline-block;
	vertical-align: top;
	margin-top: 13px;
}

p {
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	display: inline-block;
	vertical-align: top;
	color: #4E6FAE;
	margin-bottom: 10px;
}

h3 {
	width: 70px;
	height: 34px;
	font-weight: 400;
	font-size: 24px;
	line-height: 29px;
	color: #8D81FF;
	margin-top: 18px;
}

h4 {
	width: 578px;
	height: 34px;
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	color: #4E6FAE;
	margin-top: 8px;
}

.my27 {
	width: 50px;
	height: 50px;
	background-color: #5012D5;
	font-size: 24px;
	line-height: 28px;
	color: #84FF81;
	padding: 10px;
	margin-top: 155px;
}

.my28 {
	width: 50px;
	height: 50px;
	background-color: #5012D5;
	font-size: 24px;
	line-height: 28px;
	color: #84FF81;
	padding: 10px;
	margin-top: 155px;
}

.lastPinI {
	margin-top: 32px;
} 

footer {
	margin-top: 93px;
}

.secf {
	margin-top: 93px;
	margin-left: 194px;
}

.fb {
	margin-right: 41px;
}

.line {
	margin-right: 41px;
}

.secsec {
	margin-left: 194px;*/
}

.banner {
	display: block;
}

.myh2 {
	width: 150px;
	height: 34px;
	font-weight: 700;
	font-size: 26px;
	line-height: 31px;
	color: #4E6FAE;
	margin-top: 120px;
	margin-bottom: 26px;
	display: inline-block;
}

.myh3 {
	width: 484px;
	height: 34px;
	font-weight: 400;
	font-size: 26px;
	line-height: 31px;
	color: #4E6FAE;
	display: inline-block;
	margin-left: 17px;
}

.smline {
	vertical-align: middle;
}

.container {
	width: 1250px;
	vertical-align: top;
}

.inner {
	width: 500px;
	height: 192px;
	background: #E7E7E7;
	display: inline-block;
	margin-right: 52px;
	vertical-align: top;
}

.ndivtxt {
	width: 307px;
	height: 24px;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	color: #3F4145;
	padding: 10px 0px 0px 23px;
}

.simg {
	margin-left: 36px;
	vertical-align: middle;
	margin-top: 28px;	
	margin-right: 37px;
	display: inline-block;
}


.pstxt {
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: #7E8898;
	display: inline-block;
	margin-top: 20px;
}

.ndivtxt2 {
	width: 307px;
	height: 24px;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	color: #3F4145;
	padding: 10px 0px 0px 23px;
}

.simg2 {
	margin-left: 36px;
	vertical-align: middle;
	margin-top: 28px;	
	margin-right: 37px;
	display: inline-block;
}


.pstxt2 {
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: #7E8898;
	display: inline-block;
	margin-top: 20px;
}

.content {
	margin-top: 5px;
	width: 307px;
	height: 24px;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	color: #3F4145;
}

.contact-info {
	width: 474px;
	height: 34px;
	font-weight: 700;
	font-size: 36px;
	line-height: 44px;
	color: #4E6FAE;
}

.contact-container {
	display: flex;
	gap: 14px;
	flex-direction: column;
	padding: 10px;
}

.contact-container-container {
	display: flex;
	background-color: #E7E7E7;
	padding: 100px;
}